@use './mixin' as *;

body {
  color: var(--color-black);
  font-family: var(--font-family-primary);
  font-size: var(--initial-font-size);
  background-color: var(--color-section-background);
  @include responsive('xsm', true) {
    font-size: 1.1rem;
  }
}

body.dark {
  color: white;
  --color-light-grey: var(--color-dark-black);
  --color-white: var(--color-dark-black);
  --color-section-background: var(--color-darkest-black);
  --color-lightest-primary: var(--color-darkest-black);
  --color-transparent-white: var(--color-dark-transparent-black);
}

html,
body {
  scroll-behavior: smooth;
}
