@use './mixin' as *;

.heading {
  text-transform: uppercase;
  font-weight: bold;
  &--primary {
    font-size: 3.5em;
    @include responsive('md') {
      font-size: 3.2em;
    }
  }
  &--tertiary {
    font-weight: 500;
    font-size: 1.35em;
  }
}

.heading--accent,
.accent {
  color: var(--color-primary);
}

.accent {
  font-weight: 500;
}

.paragraph {
  line-height: 1.7;
}
