@use '../../abstracts/mixin' as *;
@use '../../abstracts/variables' as *;

.project {
  --width: 100%;
  --height-relation: 4;
  --width-relation: 3;
  --aspect-width-ratio: (var(--width) / var(--width-relation));
  padding-top: calc(var(--aspect-width-ratio) * var(--height-relation));
  position: relative;
  width: var(--width);
  border: 1px solid red;
  margin: 1em;
  @include responsive('sm') {
    --width: 33rem;
  }

  &__wrapper {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
  }

  &__media {
    height: 60%;
  }
}

body.dark .project {
  box-shadow: 2px 2px 0.5rem -5px var(--color-black);
}
