.card {
  padding: 2.5em 2em;
  border-radius: 0.2rem;
  box-shadow: 0 2px 1rem -5px var(--color-grey);
  background-color: var(--color-white);
  &--what-do {
    &--1 {
      grid-row: 1 / -1;
      align-self: center;
    }
  }
}

body.dark .card {
  box-shadow: 2px 2px 0.5rem -5px var(--color-black);
}
