@use '../abstracts/mixin' as *;

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 112rem;
  margin: auto;
}

.banner {
  margin: auto 0 0;
}
