@use '../abstracts/mixin' as *;

.about {
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/images/triangle-shape.svg) ;
  background-position: 105% top;
  background-size: 40%;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: flex-start;
}

.banner {
  margin: auto 0 0;
}
