@use '../abstracts/mixin' as *;

.projects{
  min-height: auto;
  /*@include responsive('lg'){
    min-height: 100vh;
 }*/
/*  --items-to-display: 1;
  @include responsive('md'){
    --items-to-display: 2;
   }
  @include responsive('lg'){
    --items-to-display: 3;
 } */

  &__carousel{
    width: 95%;
    margin: auto;
    margin-top: 3em;
    .carouselify__control{
      background-color: var(--color-white);
      border-radius: 50%;
      box-shadow: 0 .7rem 4rem -2rem rgba(0, 0, 0);
      font-weight: 900;
      &:hover,
      &:active{
        color: var(--color-primary);
      }
    }
    .carouselify__dot{
      border: 1px solid var(--color-primary);
      &--active{
        background-color: var(--color-primary);
      }
    }
  }
}
