@use '../abstracts/mixin' as *;

.what-do {
  background: var(--color-lightest-primary);
  padding: 3em 0;
  @include responsive('xlg', true) {
    padding: 3em;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 112rem;
    margin: 0 auto;
    @include responsive('lg') {
      flex-direction: row;
    }
  }
  &-banner {
    &--left,
    &--right {
      width: 100%;
      @include responsive('lg') {
        width: 50%;
      }
    }
    &--right {
      background: url(../../assets/images/sparks.svg) -20% 90%/90% 90% no-repeat;
      position: relative;
      padding: 2em 0;
      @include responsive('lg') {
        padding: 2em 3em;
      }
    }
  }
  &-description {
    margin: 3em 0 0;
  }
}

.technologies {
  margin-top: 1em;
  margin-left: 1em;

  &__item {
    min-width: 20rem;
    margin-bottom: 1em;
  }
  &__icon {
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
    vertical-align: middle;
  }
}
