@use '../abstracts/mixin' as *;

.what-do {
  background: var(--color-lightest-primary);
  &-banner{
    &--left{
      padding: 2.5em 5em;
      @include responsive('sm',true){
        padding: 2.5em 3em;
      }
      @include responsive('xsm',true){
        padding: 2.5em 2.15em;
      }
      @include responsive('xxsm',true){
        padding: 2.5em 1.15em;
      }
    }
    &--left,
    &--right {
      width: 100%;
      @include responsive('lg'){
        width: 50%;
      }
    }
    &--right {
      background:  url(../../assets/images/sparks.svg) -20% 90%/90% 90% no-repeat;
      position: relative;
      @include responsive('lg',true){
        padding: 2em 3em;
      }
      @include responsive('xsm',true){
        padding: 2em 2.15;
      }
    }
  }
  &-description {
    margin: 3em 0 0;
  }
}

.technologies {
  margin-top: 1em;
  margin-left: 1em;
  &__item{
    min-width: 20rem;
    margin-bottom: 1em;
  }
  &__icon{
    width: 1em;
    height: 1em;
    margin-right: .25em;
    vertical-align:middle ;
  }
}
