@use '../abstracts/mixin' as *;

.who-am {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: var(--color-light-grey);
  @include responsive('xxlg') {
    min-height: 70vh;
  }
  &-wrapper {
    max-width: 112rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include responsive('lg') {
      flex-direction: row;
      align-items: center;
    }
  }

  &-banner {
    &--left {
      @include responsive('lg', true) {
        // flex: none;
      }
    }
    &--right {
      @include responsive('lg', true) {
        width: 100%;
      }
    }
  }
  &-description {
    @include responsive('lg') {
      max-width: 100%;
    }
    margin: 3.5em 0 1em;
  }
  &-button {
    margin-top: 2em;
  }
}
